*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ciao{
    color: rebeccapurple;
}


body{
    background-color: #1E2D3B;
    color: white;

}
img{
    max-width: 100%;
}

ul,ol,menu{
    list-style: none;
}
.sfondo{
    background-color: #2E3A46;
}


.col_ {
    flex-basis: calc(100% /5);
    cursor: pointer;
   
 


}
